

    <div id="gf-to-chest">
        <a href="/treasure-chest.html">
            <div class="pf-treasure pf-row">
                <div class="pf-gold">
                    <div id="pf-treasure-stack"></div>
                    <span id="pf-treasure-counter"></span>
                </div>
                <div class="pf-hidden-small">
                    <span>My Treasure Chest</span>
                </div>
            </div>
        </a>
    </div>
    
    <!--<div id="gf-to-list"> birdy.svg
        <a href="/">
            <div class="pf-treasure pf-row">
                <i class="pf-icon-telescope"></i>
                <span>Discover all</span>
            </div>
        </a>
    </div>-->
    
