
<h3 class="h2">
    <div class="pf-row">
        <div class="pf-grow pf-sponsor-gold-header">Gold Sponsors</div>
       
    </div>
</h3>
<div class="pf-under-title pf-unterlines">
    
</div>
<div>
    <a href="https://gruenecho.de/en" target="_blank" rel="noopener noreferrer">
        <div class="pf-sponsor pf-sponsor-gold pf-sponsor-dark">
            <img src="https://gruenecho.de/img/ge-logo.svg" alt="The Pirate Forest">
        </div>
    </a>
</div>

<div class="text-center margin-big">
    <a class="pf-under-title pf-unterlines" href="https://github.com/sponsors/b-lack" target="_blank" rel="noopener noreferrer">Become a <b>Gold Level Sponsor</b></a>
</div>