<div class="pf-sponsors">
    <span>Thanks to</span>
    <h2 class="no-margin">
        Gold Sponsor
    </h2>
    <div class="pf-margin-big">
        <a href="https://gruenecho.de/en" target="_blank" rel="noopener noreferrer">
            <div class="pf-sponsor pf-sponsor-gold pf-sponsor-dark">
                <img src="https://gruenecho.de/img/ge-logo.svg" alt="The Pirate Forest">
            </div>
        </a>
        <a href="https://github.com/sponsors/b-lack" target="_blank" rel="noopener noreferrer">
            <div class="pf-sponsor pf-sponsor-gold pf-sponsor-dark">
                <span class="pf-sponsor-text">Become a sponsor</span>
            </div>
        </a>
    </div>
</div>