{% include html-header.html %}



<div class="pf-main {{ page.type }}">
    <div class="pf-flag pf-row">
        <div class="pf-column pf-main-men">
            <div class="pf-skelleton-img">
                <a href="{{ site.baseurl }}/" title="The Pirate Forest">
                    <img src="{{ site.baseurl }}/assets/Export.svg" alt="The Pirate Forest" width="100%">
                </a>
            </div>

            
            <div class="pf-grow">
                {% if page.url == '/' %}
                    {% include the-pirate-forest.html %}
                {% else %}
                    <header class="text-center">
                        <div class="pf-ad">
                            <div id="pf-night-sky" data-stars="{{stargazers_count}}" data-owner="b-lack" data-repo="ThePirateForest"></div>
                            <h1 class="pf-title">{{ page.title }}</h1>
                            <p class="pf-under-title">
                                {{ page.description }}
                            </p>
                        </div>
                    </header>
                {% endif %}
            </div>
            <div>
                {% include filter.html %}
            </div>
            
        </div>
        <div>
            {% include sponsors.html %}
        </div>
        
    </div>
    <main class="pf-column pf-grow">
        
        {{ content }}
    </main>
</div>
{% include html-footer.html %}