---
---

@import "mastodon-feed.scss";

@font-face {
  font-family: 'Estonia';
  src: url('../assets/fonts/estonia-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/estonia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-stack: 'Times New Roman', serif;
$font-accent: 'Estonia', cursive;
$water: #111 ;
$life: #fff ;
$primary-color: #333;


h1, h2, h3, h4, h5, h6, .h4{
  font-family: $font-accent;
  font-weight: normal;
  text-align: center;
}
.h4{
  font-size: 1.2rem;
}
h1.pf-title{
  margin: 30px 10px 0;
  font-size: 5em;
  line-height: 3rem;
}
.pf-under-title{
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 100px;
}
body{
  font-family: $font-stack;
  letter-spacing: 0.1em;
  background-color: $water;
  color: $life;
  font-size: 1.3em;
  margin: 0;
}
main{
  margin: 0 10px;
  max-width: 700px;
}
a, .pf-clickable{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
a:hover, .pf-active{
  color:#61d202;
}
img{
  max-width: 100%;
}
header{
  margin-bottom: 50px;
}
.m-2{
  margin: 0 0 1em 1em;
}
.pf-filter-col{
  margin: 100px 10px;
}
.pf-filter-col.pf-no-data #gf-sorting{
  display: none;
}
#gf-sorting{
  margin-top: 50px;
}
.pf-sticky-top{
  position: sticky;
  top: 10px;
}
.sable{
  cursor: url('../assets/saebel.png'), auto;
}
.pf-flag{
  margin: 40px 20px 20px 0;
  flex-direction: column;
}
.pf-flag > *:first-child{
  width: 400px;
}
.pf-ship{
  padding: 0px 0 0px 20px ;
}
.pf-timestamp{
  font-size: 0.6em;
}
.pf-inline-icon{
  height: 1em;
}
.pf-ship h3, .pf-ship .h3{
  font-family: $font-accent;
  font-size: 2rem;
  line-height: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.2em;
  font-weight: bold;
}
.pf-ship p{
  margin: 0.2em 0 0.2em;
}
.pf-ship-list > *:last-child .pf-ship{
  border-bottom: none;
}
.pf-row{
  display: flex;
  flex-direction: row;
}
.pf-column{
  display: flex;
  flex-direction: column;
}
.pf-treasure{
  font-family: $font-accent;
  font-size: 3em;
  line-height: 0.5em;
  margin-top: 30px;
  position: relative;
}
.pf-treasure-add{
  img{
    max-width: 25px;
  }
}
.pf-treasure-selected .pf-treasure-add{
  display: none;
}

#pf-treasure-stack{
  position: relative;
  width: 50px;
}
#pf-treasure-stack > *{
  position: absolute;
  counter-increment: my-sec-counter;
  bottom: calc(10* counter(my-sec-counter));
  width: 25px;
}


.text-center{
  text-align: center;
}
.pf-pirate-actions > *{
  text-align: center;
  margin: 20px 0;
  display: block;
}
.pf-treasure-remove{
  display: block;
  font-size: 0.8rem;
}
.pf-treasure-selected  .pf-treasure-remove{
  img{
    max-width: 25px;
  }
}
.pf-type-index .pf-treasure-remove{
  display: none;
}
#gf-to-chest, #gf-to-list{
  font-size: 0.6em;
}
.pf-type-treasure #gf-to-chest{
  display: none;
}
.pf-type-index #gf-to-list{
  display: none;
}
.pf-owner-name{
  font-size: 0.9rem;
}
.pf-owner-spacer{
  margin: 0 10px;
  display: inline-block;
}
.pf-grow{
  flex-grow: 1;
}
.pf-meta{
  font-size: 1rem;
  justify-content: space-between;
}
.pf-meta-lang::before, 
.pf-meta-star::before, 
.pf-meta-license::before, 
.pf-meta-timeglass::before, 
.pf-coin-bronze::before, .pf-coin-silver::before, .pf-coin-gold::before{
  content: ' ';
  display: inline-block;
  margin-right: 10px;
  width: 1rem;
  height: 1rem;
  background-image: url('../assets/icons/brackets.svg');
  background-size: 1rem 1rem;
}
.pf-meta-star::before{
  background-image: url('../assets/icons/star.svg');
}
.pf-meta-license::before{
  background-image: url('../assets/icons/license.svg');
}
.pf-meta-timeglass::before{
  background-image: url('../assets/icons/timeglass.svg');
}
.pf-meta-timeglass.pf-is-new::before{
  background-image: url('../assets/icons/timeglass-new.svg');
}
.pf-is-new{
  color: #d1a805;
  font-size: 0.8em;
}
.pf-coin-bronze::before{
  background-image: url('../assets/coin-bronce.svg');
}
.pf-coin-silver::before{
  background-image: url('../assets/coin-silver.svg');
}
.pf-coin-gold::before{
  background-image: url('../assets/coin-stacked.svg');
}
.pf-inline-men > *{
  display: inline-block;
  margin: 0 15px 8px 0;
  font-size: .8em;
}
.pf-icon-telescope{
  height: 1em;
  width: 1em;
  background-image: url('../assets/icons/telescope.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.pf-openext{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pf-openext::after{
  content: ' ';
  display: inline-block;
  margin-left: 10px;
  width: 1rem;
  height: 1rem;
  background-size: 1rem 1rem;
  background-image: url('../assets/icons/openext.svg');
}
.pf-footer-wave, .pf-footer-wave::before, .pf-footer-wave::after{
  content: '.';
  bottom: 0;
  position: absolute;
  display: block;
  height: 100px;
  width: 100%;
  //transform: translate(0px, -50px);
  background-image: url('../assets/wave.svg');
  background-repeat: repeat-x;
  background-size: auto 60px;
  animation: linear infinite;
  animation-duration: 4s;
}

.pf-footer-wave::before{
  animation-duration: 5s;
  animation-name: run;
}
.pf-footer-wave::after{
  animation-duration: 6s;
  animation-name: run2;
}
.pf-footer-wave{
  position: relative;
  width: 100%;
  color: black;
  animation-name: run3;
  height: 170px;
overflow-x: hidden;
}
.pf-ship-sailing{
  position: absolute;
  display: block;
  height: 150px;
  width: 150px;
  background-image: url('../assets/ship.svg');
  background-repeat: no-repeat;
  background-size: auto 150px;
  animation: linear infinite;
  animation-duration: 50s;
  animation-name: ship;
}
hr.gf-seperator{
  height: 20px;
  border:none;
  position: relative;
  display: block;
  background-image: url('../assets/icons/selector.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70% 7px;
  margin: 50px 0;
}
.pf-pirate-avatar{
  margin: 0 auto;
  position: relative;
  height: 75px;
  width: 75px;
}
.pf-type-index .pf-pirate-avatar::after{
  position: absolute;
  top: -29px;
  left: -23px;
  content: '';
  background-image: url('../assets/icons/flag.svg');
  background-size: 75px 75px;
  display: block;
  width: 75px;
  height: 75px;
  z-index:-1;
  transform: rotate(180deg);
  transition: transform 250ms;
}
.pf-type-index .pf-pirate:hover:not(.pf-treasure-selected) .pf-pirate-avatar::after{
  transform: rotate(0deg);
}
.pf-type-index .pf-pirate:hover:not(.pf-treasure-selected) .pf-pirate-avatar::after{
  transform: rotate(0deg);
}
.pf-pirate-avatar::before, #pf-treasure-counter{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background-image: url('../assets/pirate-border.svg');
  background-size: 75px 75px;
  display: block;
  width: 75px;
  height: 75px;
}
.pf-pirate-avatar img{
  border-radius: 50%;
  display: block;
  background-color: #333;
}
.pf-type-index .pf-pirate:hover:not(.pf-treasure-selected) .pf-cross{
  background-color: rgba(238, 238, 238, 1);
  background-image: url('../assets/icons/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}
/*.pf-cross::after{
  content:' ';
  background-image: url('../assets/icons/cross.svg');
  background-size: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}*/
ul.pf-topics{
  list-style: none;
  list-style-position: inside;
  padding: 0;
}
.pf-topics li{
  display: inline-block;
  font-size: 0.6em;
  margin: 5px 10px 0 0;
}
.pf-fallback{
  display: none;
}
.pf-no-data > .pf-fallback {
  display: block;
}

.pf-remove-list{
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 15px;
  padding-top: 5px;
}

.pf-treasure-selected .pf-topics, .pf-treasure-selected .pf-meta{
  display:none;
}
.pf-treasure-selected{
  opacity: 0.5;
}
.pf-process-coin{
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: -10px;
  //background-image: url('../assets/coin-bronce.svg');
  background-image: url('../assets/icons/coin-bronce.svg');
  min-width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  > *{
    display: none;
  }
}
.pf-flat-coin-bronze{
  background-image: url('../assets/icons/coin-bronce.svg');
}
.pf-flat-coin-silver{
  background-image: url('../assets/icons/coin-silver.svg');
}
.pf-flat-coin-gold{
  background-image: url('../assets/icons/coin-gold.svg');
}
.pf-process-coin:hover > *{
  display: block;
}
.pf-process-coin .pf-process-coin-select{
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #222;
  padding: 5px 5px 5px 5px;
  border: none;
  box-shadow: 0 0 3px #111;
  font-size: 0.8em;
}
.pf-process-coin .pf-process-coin-select > *{
  white-space: nowrap;
  display: block;
  margin: 8px;
}

.pf-unterlines{
  text-decoration: underline;
}

#pf-treasure-counter{
  position:absolute;
  left: 20px;
  bottom: -10px;
  background: #eee;
  color: #111;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  transform: rotate(-30deg);
}

footer > *{
  margin: 20px auto 20px auto;
  max-width: 400px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .pf-ad{
    display: none;
  }
  .pf-flag{
    flex-direction: column;
    margin-right: 0;
  }
  .pf-flag > *:first-child{
    width: 100%;
  }
  .pf-small-column{
    flex-direction: column;
  }
}

@keyframes run {
  0% {
    background-position: 0px 20px;
  }
  50% {
    background-position: 20px 30px;
  }
  100% {
    background-position: 0px 20px;
  }
}
@keyframes run2 {
  0% {
    background-position: 320px 50px;
  }
  50% {
    background-position: 300px 40px;
  }
  100% {
    background-position: 320px 50px;
  }
}
@keyframes run3 {
  0% {
    background-position: 500px 80px;
  }
  50% {
    background-position: 520px 70px;
  }
  100% {
    background-position: 500px 80px;
  }
}

@keyframes ship {
  0% {
    left: -15%;
  }
  100% {
    left: 110%;
  }
}

.data-star-avatar{
  display: none;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.pf-meta-star:hover .data-star-avatar{
  display: block;
}
#pf-night-sky{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  margin-bottom: 30px;
}
.pf-night-sky-spacer{
  height: 240px;
}
@keyframes pf-star-flicker {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9;
  }
}