
.scroll-wrapper{
    
}
body{
    //left: 300px;
}

#mt-body{
    overflow: scroll;
    width: fit-content;
    overflow: scroll;
    
    width: 100%;
    top: 0;
    bottom: 0;
    height: 350px;
    z-index: 1;
    transition: left .2s ease-in-out;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

    a{
        text-decoration: underline;
    }

    article{
        background-color: rgba(50,50,50,7);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
    }
    .mt-avatar, .mt-user{
        display: none;
    }
    .img-ratio14_7{
        //aspect-ratio: 16/9;
        overflow: hidden;
    }
    .toot-date{
        font-size: 0.8em;
        color: rgba(255,255,255,0.5);
        text-decoration: none;
    }
    .toot-media{
        aspect-ratio: 16/9;
    }
}
.pf-feed{
    position: relative;
    margin: 150px 0;
}
.pf-feed-line{
    position: absolute;
    left: 30px;
    top: -50px;
  }
.pf-feed-active{
    #mt-body{
        left: 0;
    }
    .pf-main{
        position: relative;
        //left: 350px;
    }
    overflow-x: hidden;
    width: 100%;

}
